# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc


# IDE
.idea/
.vscode/
*.iml
workspace.xml

# Environment variables
.env
venv/
env/
ENV/

# Campaign files (for now - you'll decide later if you want to version these)
campaign_files/

# Logs
*.log